extends layout

block content
  <div class="container">
  <div class="jumbotron text-center">
  <h1><span class="fa fa-lock"></span> You are logged in</h1>
  </div>
  </div>
  <a href='/main/fetchdata'>Fetch User Info</href>
  h1= welcome
  